<div class="container border border-1 rounded p-3">
    <h1>Вход</h1>
    <div class="mb-2">
        <label for="login">Логин</label>
        <div>
            <input type="text" id="login" class="form-control">
        </div>
    </div>
    <div class="mb-4">
        <label>Пароль</label>
        <div class="input-group">
            <input type="password" class="form-control">
            <i class="bi bi-eye-slash closed-eye input-group-text" toggleVisibility></i>   
        </div>
    </div>
    <div>
        <div class="btn btn-secondary">Войти</div>
    </div>
</div>